
body {
  font-family: sans-serif;
  margin: auto;
  background-color: #F5F5F5;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#app {
  margin: auto;
}
/*banner*/
.banner {
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner h1 {
  font-size: 75px;
  font-family: 'Montez', cursive;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 20px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  font-family: 'Roboto', sans-serif;
  opacity: 0.6;
  margin-bottom: 30px;
}

/*navbar*/
/* Main navbar */
.navigation {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: white;
  transition: all 0.3s ease;
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
   background-color: #EFF5FF;
   /*transition-timing-function: linear;*/
   border-bottom-left-radius: 5px;
   border-bottom-right-radius: 5px;
   transition-timing-function: ease;
   transition-duration: 500ms;
   /*transition-timing-function: ease-out;*/
   /*border-radius: 15px;*/
}

/* Logo */
.navbar-logo img {
  height: 50px;
  margin-left: 10px;
}


/* Right section */
.navbar-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-item {
  cursor: pointer;
  padding: 0 20px;
  padding-right: 20px;
  /*transition-timing-function: ease;*/
}

/* Navbar link */
.navbar-link {
  /*color: #616668;*/
  color: #20657F;
  font-size: 14px;
  font-family: "Roboto";
}
.navbar-link:hover {
  color: #da552f;
  text-decoration: none;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}


.shopping-cart-btn {
  border-radius: 5px;
  color: #20657F;
  font-family: 'Roboto', cursive;
  /*color: #da552f;*/
  margin-right: 20px;
}


/*card components*/
.card {
    height: 250px;
  width: 250px;
  color: purple;
}

.card img {
  height: 200px;
  width: 200px;
}

div .allProducts {
  margin-top: 100px;
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: row-wrap;
  flex-wrap: wrap;
  flex-direction: row;
}


